<!DOCTYPE html>
<html>

<head>
    <title>FLACK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none; background-color: gray;" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close &times;</button>
        <input type="text" placeholder="Create new channel" id="rtext">
        <input type="button" class="myButton" id="rb1"  value="Create">
        <div class="rooms">
            {%if rooms%}
            {% for i in rooms%}
            <p id="{{i}}" onclick="func(this)">{{i}}</p>
            {%endfor%}
            {%endif%}
        </div>
    </div>

    <div id="main">

        <div class="w3-teal">
            <button id="openNav" class="myButton" onclick="w3_open()">&#9776;</button>
            <a href="/logout" style="text-decoration:none;">LOGOUT</a>
            <div class="w3-container">
                <div class="nav">
                    <h1 id="name"></h1>
                </div>
            </div>
        </div>

        <div class="chat">

        </div>
        <div id="footer">
            
            <input type="text" style="width:40vw" placeholder="Start Chatting here" id="ctext">
            <input type="button" class="myButton" id="cb1" value="submit">
        </div>
</body>
<script>
    function w3_open() {
        document.getElementById("main").style.marginLeft = "25%";
        document.getElementById("mySidebar").style.width = "25%";
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("openNav").style.display = 'none';
    }
    function w3_close() {
        document.getElementById("main").style.marginLeft = "0%";
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("openNav").style.display = "inline-block";
    }
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</html>