<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0 auto;
            max-width: 800px;
            padding: 0 20px;
        }

        .container {
            border: 2px solid #dedede;
            background-color: cornsilk;
            border-radius: 30px; 
            padding: 15px;
            margin-bottom: 10px;
            margin-right: 100px;
        }

       
    </style>
</head>

<body>

    <h2>Chat Messages</h2>

    <div class="container">
        <p style="text-shadow: 2px 2px 5px red;">Suraj</p>
        <p>Hello. How are you today?</p>
        <span class="time-right">11:00</span>
    </div>
    <div class="container">
        <p style="text-shadow: 2px 2px 5px red;">Suraj</p>
        <p>Hello. How are you today?</p>
        <!-- <span class="time-right">11:00</span> -->
    </div>

</body>

</html>